.orbit-1 {
  -webkit-animation: orbit-1 5s linear infinite;
          animation: orbit-1 5s linear infinite;
}

@-webkit-keyframes orbit-1 {
  from {
    transform: rotate(0deg) translateX(65px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(65px) rotate(-360deg);
  }
}

@keyframes orbit-1 {
  from {
    transform: rotate(0deg) translateX(65px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(65px) rotate(-360deg);
  }
}
.orbit-2 {
  -webkit-animation: orbit-2 10s linear infinite;
          animation: orbit-2 10s linear infinite;
}

@-webkit-keyframes orbit-2 {
  from {
    transform: rotate(0deg) translateX(80px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(80px) rotate(-360deg);
  }
}

@keyframes orbit-2 {
  from {
    transform: rotate(0deg) translateX(80px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(80px) rotate(-360deg);
  }
}
.orbit-3 {
  -webkit-animation: orbit-3 15s linear infinite;
          animation: orbit-3 15s linear infinite;
}

@-webkit-keyframes orbit-3 {
  from {
    transform: rotate(0deg) translateX(95px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(95px) rotate(-360deg);
  }
}

@keyframes orbit-3 {
  from {
    transform: rotate(0deg) translateX(95px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(95px) rotate(-360deg);
  }
}
.orbit-4 {
  -webkit-animation: orbit-4 20s linear infinite;
          animation: orbit-4 20s linear infinite;
}

@-webkit-keyframes orbit-4 {
  from {
    transform: rotate(0deg) translateX(110px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(110px) rotate(-360deg);
  }
}

@keyframes orbit-4 {
  from {
    transform: rotate(0deg) translateX(110px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(110px) rotate(-360deg);
  }
}
.orbit-5 {
  -webkit-animation: orbit-5 25s linear infinite;
          animation: orbit-5 25s linear infinite;
}

@-webkit-keyframes orbit-5 {
  from {
    transform: rotate(0deg) translateX(125px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(125px) rotate(-360deg);
  }
}

@keyframes orbit-5 {
  from {
    transform: rotate(0deg) translateX(125px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(125px) rotate(-360deg);
  }
}
.orbit-6 {
  -webkit-animation: orbit-6 30s linear infinite;
          animation: orbit-6 30s linear infinite;
}

@-webkit-keyframes orbit-6 {
  from {
    transform: rotate(0deg) translateX(140px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(140px) rotate(-360deg);
  }
}

@keyframes orbit-6 {
  from {
    transform: rotate(0deg) translateX(140px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(140px) rotate(-360deg);
  }
}
.cloud {
  background: #f1f1f1;
  width: 100px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
  bottom: -5px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}
.cloud:before, .cloud:after {
  content: "";
  background: #f1f1f1;
  border-radius: 50%;
  position: absolute;
}
.cloud:before {
  width: 50px;
  height: 50px;
  bottom: 2px;
  left: 5px;
}
.cloud:after {
  width: 40px;
  height: 40px;
  bottom: 2px;
  right: 15px;
}

.cloud-6 {
  right: -45px;
  bottom: 9;
}