body {
  background: #fafaf0;
  background: #121317;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.star {
  position: absolute;
  left: 0;
  top: 50px;
  width: 1px;
  height: 1px;
  background-color: white;
  -webkit-animation: shooting 5s linear infinite;
          animation: shooting 5s linear infinite;
}
.star:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 1px;
  right: 1px;
  top: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.4) 100%);
}

.star-2 {
  top: 100px;
  -webkit-animation: shooting 8s 1s linear infinite;
          animation: shooting 8s 1s linear infinite;
}

.star-3 {
  top: 250px;
  -webkit-animation: shooting 3s 2s linear infinite;
          animation: shooting 3s 2s linear infinite;
}

@-webkit-keyframes daylight {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes daylight {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-webkit-keyframes shooting {
  from {
    left: -100px;
  }
  to {
    left: calc(100% + 100px);
  }
}
@keyframes shooting {
  from {
    left: -100px;
  }
  to {
    left: calc(100% + 100px);
  }
}


.cloud-group-1,
.cloud-group-2,
.cloud-group-3 {
  position: absolute;
  bottom: 0;
  width: 211px;
  height: 100px;
  opacity: 0.2;
}

.cloud-group-1 {
  bottom: -5px;
}

.cloud-group-2 {
  transform: scale(2);
  bottom: 20px;
  left: -50px;
}

.cloud-group-3 {
  transform: scale(3);
  bottom: 100px;
  left: -24px;
}

.cloud-2 {
  left: 10px;
}

.cloud-3 {
  right: 10px;
}

.cloud-4 {
  right: 184px;
  bottom: 0;
}

.cloud-5 {
  right: 24px;
  bottom: 12px;
}
