<article class="card card--mercury">
  <div class="card__planet">
    <div class="planet__atmosphere">
      <div class="planet__surface"></div>
    </div>
  </div>
  <div class="card__info">
    <h2 class="info__title">mercury</h2>
    <div class="info__form">
      <div class="info__item">
        <label class="info__label">Tilt</label><span class="info__line"></span><i class=" tilt__icon fas fa-long-arrow-alt-right"></i><span class="info__detail">0.034°      </span>
      </div>
      <div class="info__item">
        <label class="info__label">Day</label><span class="info__line"></span><span class="info__detail">1,407 hours</span>
      </div>
      <div class="info__item">
        <label class="info__label">Year</label><span class="info__line"></span><span class="info__detail">88 days</span>
      </div>
    </div>
  </div>
</article>